body {
  background-color: #ffeeda;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading1 {
  max-height: 15vh;
  color: #9f838c;
  text-align: center;
  padding: 1.5vh;
  margin: 1vw;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-center;
}
.image-sml {
  width: 2.5em;
  border-radius: 50%;
  border-color: #70a0af;
  border-style: solid;
}

.image-screen {
  width: 95%;
  border-color: #70a0af;
  border-style: solid;
}

.image-large {
  width: 95%;
  border-color: #70a0af;
  border-style: solid;
  border-radius: 5%;
  border-width: 4pt;
}

.intro {
  text-align: center;
  color: #70a0af;
  padding: 1%;
  border: 5pt;
  border-bottom-style: groove;
  border-top-style: groove;
  border-color: #9f838c;
  margin: 2%;
  background-image: url('/images/image-sunset-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container2 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
  height: min-content;
  margin-top: 1%;
  color: #4e5340;
  text-align: left;
}

.heading2 {
  color: #70a0af;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.heading3 {
  color: #70a0af;
  text-align: center;
}

.left {
  width: 55vw;
  min-width: 100px;
  max-width: 700px;
  background-color: #fad3a5;
  padding: 1em 2em;
  border-width: 6px;
  border-style: double;
  border-radius: 10px;
  border-color: #4e5340;
  margin-right: 2.5%;
  color: #4e5340;
}

.center {
  width: 90vw;
  min-width: 100px;
  background-color: #fad3a5;
  padding: 1em 2em;
  border-width: 6px;
  border-style: double;
  border-radius: 10px;
  border-color: #4e5340;
  color: #4e5340;
}
.right {
  width: 30vw;
  min-width: 100px;
  max-width: 500px;
  background-color: #fad3a5;
  padding: 1em 2em;
  border-width: 6px;
  border-style: double;
  border-radius: 10px;
  border-color: #4e5340;
  margin-left: 2.5%;
  color: #4e5340;
}

.da {
  color: #9f838c;
  font-weight: bolder;
}

.home-button {
  text-align: center;
  color: #4e5340;
  background-color: #fad3a5;
  border: pt;
  border-style: solid;
  border-color: #4e5340;
  border-radius: 10%;
  position: fixed;
  right: 2%;
  bottom: 1%;
  width: 80px;
}

.container3 {
  width: 90%;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  height: min-content;
  /* margin-bottom: 70px; */
}

.container4 {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
  height: min-content;
  margin-top: 1%;
  color: #4e5340;
  text-align: center;
  margin-bottom: 40pt;
}

table {
  overflow-x: scroll;
}
table,
th,
td {
  border-style: double;
  border-collapse: collapse;
  text-align: center;
  border-width: 4px;
  border-radius: 10px;
  border-color: #4e5340;
  padding: 2pt;
  color: #4e5340;
}

th {
  color: #4e5340;
  background-color: #fad3a5;
}

.left-list {
  text-align: left;
  justify-content: none;
  color: #9f838c;
}

.center-list {
  text-align: center;
  justify-content: none;
  color: #9f838c;
  display: inline-block;
}

.list-header {
  font-weight: 700;
}

.sub-header {
  font-weight: 700;
  padding-top: 3%;
}

.code {
  width: auto;
  align-items: center;
  background-color: #ffeeda;
  text-align: left;
  padding-left: 5%;
  list-style-type: none;
  color: #000000;
  padding: 5%;
}

.code-inline {
  width: auto;
  align-items: center;
  background-color: #ffeeda;
  text-align: left;
  list-style-type: none;
  color: #000000;
  padding: 0.5%;
}

@media (min-width: 600px) {
  .heading1 {
    font-size: 4vh;
  }
  .heading2 {
    font-size: 4vmin;
  }
  .container1 {
    font-size: 3vmin;
  }
  .container2 {
    font-size: 3vmin;
  }
  .container3 {
    font-size: 3vmin;
  }
  .container4 {
    font-size: 3vmin;
  }
}
@media (max-width: 599px) {
  .heading1 {
    font-size: 3vh;
  }
  .heading2 {
    font-size: 2vmin;
  }
  .container1 {
    font-size: 3vmin;
  }
  .container2 {
    font-size: 2.5vmin;
  }

  .container3 {
    font-size: 2.5vmin;
  }
  .container4 {
    font-size: 2.5vmin;
  }
}
