body {
  background-color: rgb(168, 202, 254);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.heading1 {
  max-height: 15vh;
  color: #fff;
  text-align: center;
  padding: 1.5vh;
  margin: 1vw;
}

.container1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-center;
}
.image-sml {
  width: 2.5em;
  border-radius: 50%;
  border-color: #2000ff;
  border-style: solid;
}

.intro {
  text-align: center;
  color: #fff;
  padding: 1%;
  border: 5pt;
  border-bottom-style: groove;
  border-top-style: groove;
  border-color: #2000ff;
  margin: 2%;
}

.container2 {
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-left: 5%;
  padding-right: 5%;
  height: min-content;
  margin-top: 1%;
}

.heading2 {
  color: #2000ff;
  text-align: center;
}

.main-text {
  color: #000;
  text-align: center;
}

.left {
  width: 55vw;
  min-width: 100px;
  max-width: 700px;
  background-color: #fff;
  padding: 1em 2em;
  border-width: 6px;
  border-style: double;
  border-radius: 10px;
  border-color: #1c0284;
  margin-right: 2.5%;
}

.right {
  width: 25vw;
  min-width: 100px;
  max-width: 500px;
  background-color: #fff;
  padding: 1em 2em;
  border-width: 6px;
  border-style: double;
  border-radius: 10px;
  border-color: #1c0284;
  margin-left: 2.5%;
}

@media (min-width: 600px) {
  .heading1 {
    font-size: 4vh;
  }
  .heading2 {
    font-size: 4vmin;
  }
  .container1 {
    font-size: 3vmin;
  }
  .container2 {
    font-size: 2.5vmin;
  }
}
@media (max-width: 599px) {
  .heading1 {
    font-size: 3vh;
  }
  .heading2 {
    font-size: 2vmin;
  }
  .container1 {
    font-size: 3vmin;
  }
  .container2 {
    font-size: 2vmin;
  }
}
